<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>From</th>
            <th>To</th>
            <th>Number</th>
            <th>Price</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Plane of planes">
            <td>{{Plane.planeId}}</td>
            <td>{{Plane.planeName}}</td>
            <td>{{Plane.from}}</td>
            <td>{{Plane.to}}</td>
            <td>{{Plane.planeNumber}}</td>
            <td>{{Plane.price}}</td>
            <td><button>Delete</button></td>
            <td><button>Edit</button></td>
        </tr>
    </tbody>
</table>