<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
    <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email" name="email"
            [(ngModel)]="login.email">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
            [(ngModel)]="login.password">
    </div>
    <button type="submit" class="btn btn-primary">login</button>
</form>