<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter Name" name="name" [(ngModel)]="user.name">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email"
            name="email" [(ngModel)]="user.email">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
            name="password" [(ngModel)]="user.password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="registerUser()">Register</button>
</form>